<!DOCTYPE html>
<html>
    <img src="/static/hr_logo.png" width="100" height="100" class="center">

   
    <html>
    <head>
    <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
    </style>
    </head>
    <body>
    
    <ul>
      <li><a href="start">Home</a></li>
      <li><a href="agenda">Agenda</a></li>
      <li><a href="home">Uitloggen</a></li>
    </ul>
<body>
    <h1>Agenda voor komende week</h1>
    <table border="5" cellspacing="0" align="center">
        <!--<caption>Timetable</caption>-->
        <tr>
            <td align="center" height="50"
                width="100"><br>
                <b>Dag</b></br>
            </td>
            <td align="center" height="50"
                width="100">
                <b>I<br>9:30-10:20</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>II<br>10:20-11:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>III<br>11:10-12:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>12:00-12:40</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>IV<br>12:40-1:30</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>V<br>1:30-2:20</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VI<br>2:20-3:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VII<br>3:10-4:00</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Maandag</b></td>
            <td align="center" height="50">Engels</td>
            <td align="center" height="50">PV</td>
            <td align="center" height="50">Databases</td>
            <td rowspan="6" align="center" height="50">
                <h2>L<br>U<br>N<br>C<br>H</h2>
            </td>
            <td colspan="3" align="center"
                height="50">Werkplaats</td>
            <td align="center" height="50">UX</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Dinsdag</b>
            </td>
            <td colspan="3" align="center"
                height="50">Werkplaats
            </td>
            <td align="center" height="50">Engels</td>
            <td align="center" height="50">Wiskunde</td>
            <td align="center" height="50">Wiskunde</td>
            <td align="center" height="50">Onboarding</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Woensdag</b>
            </td>
            <td align="center" height="50">Werkplaats</td>
            <td align="center" height="50">Werkplaats</td>
            <td align="center" height="50">Werkplaats</td>
            <td align="center" height="50">Werkplaats</td>
            <td colspan="3" align="center"
                height="50">
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Donderdag</b>
            </td>
            <td align="center" height="50">Vrij</td>
            <td align="center" height="50">Vrij</td>
            <td align="center" height="50">Vrij</td>
            <td colspan="3" align="center"
                height="50">Vrij
            </td>
            <td align="center" height="50">Vrij</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Vrijdag</b>
            </td>
            <td colspan="3" align="center"
                height="50">Vrij
            </td>
            <td align="center" height="50">Vrij</td>
            <td align="center" height="50">Vrij</td>
            <td align="center" height="50">Vrij</td>
            <td align="center" height="50">Vrij</td>
        </tr>
    </table>
</body>
 
</html>